<br/>
<br/>
<h1 style="padding-left: 10px">Add Instance</h1>
<br/><%= form_for :Instance, url: posts_path do |f| %>
<p>
        <span style="padding-left:10px;"><%= f.label :Name, 'Instance Name' %></span>
    <%= f.text_field(:Name, {:class => 'form-control', :placeholder => "Please enter name of the instance here"}) %>
</p>
<p>
        <span style="padding-left:10px;"><%= f.label :Deployment, 'Deployment' %></span>
    <%= f.text_field(:Deployment, {:class => 'form-control', :placeholder => "Please enter the deployment here"})  %>
</p>
<p>
        <span style="padding-left:10px;"><%= f.label :Region, 'Region' %></span>
    <%= f.text_field(:Region, {:class => 'form-control', :placeholder => "Please enter the region of the instance here"})  %>
</p>
<p>
        <span style="padding-left:10px;"><%= f.label :Release_server, 'Release Server' %></span>
    <%= f.text_field(:Release_server, {:class => 'form-control', :placeholder => "Please enter the release server name here"})  %>
</p>
<p>
        <span style="padding-left:10px;"><%= f.submit %></span>
</p>
<% end %>