<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" href="#">Created</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">By</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Krati</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Bansal</a>
          </li>
        </ul>
    <%= yield %>
  </body>
</html>
